<% layout("/layouts/boilerplate") %>

<style>
   #filters {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 13px 10px 13px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 15px;
    
   }


.filter {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    margin: 5px 10px 5px 10px;
    opacity: 0.6;
    text-align: center;
    min-width: 30px; 
    font-size: 13px;
}

.filter:hover{
    opacity: 1;
    cursor: pointer;
}

.tax-info{
    display: inline;
    display: none;
}

.tax-switch {
    border: 1px solid black;
    border-radius: 15px;
    margin-right: 10px;
    height: 2rem;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
     
}
.tax-switch:hover{
    opacity: 1;
    cursor: pointer;
}

.filter div {
    margin-right: 10px;
    font-size: 1.3rem; /* Default icon size */
}

@media (max-width: 700px) {
    #filters {
        flex-direction: row; /* Switch to vertical layout on smaller screens */
        padding: 2px;
    }

    .filter {
        flex-basis: auto; /* Allows items to take up full width when stacked vertically */
        margin: 2px 0 2px 0;

        font-size: 0.7rem; /* Smaller text */
        padding: 5px; /* Less padding */
        
    }

    .filter div {
        font-size: 15px; /* Smaller icon size */
    }

    .tax-switch {
        margin-bottom: 3px;
        font-size: 0.7rem;
    }
}
</style>


<div id="filters">

    <div class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
    </div>

    <div class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Room</p>
    </div>

    <div class="filter">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic Cities</p>
    </div>

    <div class="filter">
        <div><i class="fa-brands fa-fort-awesome fa-lg" style="color: #000000;"></i></div>
        <p>Castles</p>
    </div>

    <div class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing Pools</p>
    </div>

    <div class="filter">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
    </div> 
    
    <div class="filter">
        <div><i class="fa-solid fa-tractor"></i></div>
        <p>Farms</p>
    </div>

    <div class="filter">
        <div><i class="fa-solid fa-person-skiing"></i></div>
        <p>Arctic</p>
    </div>

    <!-- <div class="filter">
        <div><i class="fa-solid fa-landmark-dome"></i></div>
        <p>Domes</p>
    </div>   -->

   <div class="tax-switch">
    <div class="form-check-reverse form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
      </div>
    </div>
</div>

 

<div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-2 mt-3">
    <% for(let listing of allListings){ %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
            <div class="card col listing-card">
                <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 15rem;">
                <div class="card-img-overlay">N</div>
                <div class="card-body">
                    <p class="card-text">
                        <b><%= listing.title %></b><br>
                        <span class="listing-price" data-original-price="<%= listing.price %>">&#8377; <span class="price-value"><%= listing.price.toLocaleString("en-IN") %></span> /night</span>
                        <b class="tax-info">&nbsp; &nbsp; +18% GST</b>
                    </p>
                </div>
            </div>   
        </a>
    <% } %>
</div>

    <script>
       let taxSwitch = document.getElementById("flexSwitchCheckDefault");

taxSwitch.addEventListener("click", () => {
    let taxInfo = document.getElementsByClassName("tax-info");
    let listingPrices = document.getElementsByClassName("listing-price");

    for (let info of taxInfo) {
        info.style.display = taxSwitch.checked ? "inline" : "none";
    }

    for (let priceElement of listingPrices) {
        let originalPrice = parseFloat(priceElement.getAttribute("data-original-price"));
        let displayedPrice = taxSwitch.checked ? originalPrice * (1 - 0.18) : originalPrice; // Apply 18% discount
        let formattedPrice = displayedPrice.toLocaleString("en-IN", { minimumFractionDigits: 2 });
        priceElement.querySelector(".price-value").textContent = formattedPrice;
    }
}); 
    </script>

    
      



    
